<div class="faq wrapper outer">
    <h3 class="section title"><%= t('strings.faq') %></h3>
    <div class="faq entry wrapper">
        <div class="faq entry head"><%= t('content.faq_01') %>
            <%= render(ImageComponent.new(src: 'icon_plus.svg', classname: 'icon-plus', href: '#')) do %><% end %>
        </div>
    </div>
    <div class="faq entry wrapper">
        <div class="faq entry head"><%= t('content.faq_02') %>
            <%= render(ImageComponent.new(src: 'icon_plus.svg', classname: 'icon-plus', href: '#')) do %><% end %>
        </div>
    </div>
    <div class="faq entry wrapper">
        <div class="faq entry head"><%= t('content.faq_03') %>
            <%= render(ImageComponent.new(src: 'icon_plus.svg', classname: 'icon-plus', href: '#')) do %><% end %>
        </div>
    </div>
</div>