<div class="footer wrapper">
    <div class="footer upper wrapper">
        <div class="social">
            <a href="tel:<%= t('strings.phone_num') %>" class="contacts phone"><%= t('strings.phone_num') %></a>
        </div>
        <a href="mailto:<%= t('strings.email_contact') %>"class="footer entry email"><%= t('strings.email_contact') %></a>
    </div>
    <div class="divider"><div class="divider accent"></div></div>
    <div class="footer lower wrapper">
        <a href="#" class="footer entry"><%= t('strings.agreement') %></a><a href="#" class=""><%= t('strings.requisites') %></a><a href="#" class=""><%= t('strings.policy') %></a>
    </div>
</div>