<!DOCTYPE html>
<html page="<%= current_page? %>">
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
    </style>
    <title><%= @title %></title>
    <link rel="icon" type="image/x-icon" href="<%= image_path('favicon.png') %>">
    <%= stylesheet_link_tag "media", "data-turbo-track": "reload" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

      <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  </head>
  <body>
    <%= yield %>
  </body>
</html>